@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap');
*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto Slab", serif; 
}
html{
    scroll-behavior: smooth;
}

p{
    line-height: 1.5;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}

.container{
    padding: 50px 0;
}
.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}
.red{
    color: red
}

.logo{
    color: white;
}

::placeholder{
    color: white;
    opacity: 1;
}
input{
    color: white;
    outline: none;
}


/* NAVIGATION */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    height: 100px;
    color: white;
    margin: 0 auto;
}
.landing-page{
    background-position: center;
    background-color: #36454F;
    min-height: 30vh;
}
.nav-link-list{
    display: flex;
}
.nav-link{
    margin: 0 12px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0px;
    margin: 0px 20px;
    position: relative;
}
.nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: red;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-search{
    width: 100%;
    max-width: 600px;
    margin-top: 14px;
    border-bottom: 3px solid white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    height: 28px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.search-button{
    width: 150px;
    border-radius: 12px;
    border: 1px solid white;
    margin-top: 24px;
    background-color: rgb(255, 255, 255, 0);
    color: white;
    padding: 4px;
    transition: all 300ms ease;
}
.search-button:hover{
    background-color: #DE3163;
    border-color: #DE3163;
}
.serach-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.fa-magnifying-glass{
    margin-top: 20px;
    color: white;
}

.landing-page-header{
    font-size: 50px;
    color: white;
}

/* Quotes section */

.quotes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quotes-header{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.quote-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quote-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-top: 28px;
    margin-bottom: 200px;
    height: 50vh;
    position: relative; 
    box-shadow: 0 0 20px 8px #d0d0d0;
    width: 100%;
}
.quote-card p{
    display: flex;
    justify-content: center;
}
.quote-card-anime-name{
    text-align: center;
    position: absolute;
    top: 0;
    margin-top: 12px;
    font-size: 34px;
    color: black;
}

.qoute-card-anime-character-name{
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    color: black;
}
.qoute-card-qoute{
    text-align: center;
    display: flex;
    width: 100%;
    font-size: 20px;
    color: black;
}

.quotes-loading-spinner{
    display: none !important;
}
.quotes-loading .quotes-loading-spinner{
    display: block !important;
}
.fa-spinner{
    animation: rotate 500ms infinite linear;
    font-size: 120px;
    margin-top: 48px;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Small phones, tablets, large smarthphones */

@media(max-width: 768px){
    .serach-bar{
        width: 85%;
    }
    .quote-card{
        height: 40vh;
    }
    .quote-card p{
        font-size: 16px;
    }
}

/* Small phones, large smarthphones */

@media (max-width: 550px){
    .landing-page-header{
        font-size: 35px;
    }
    .quote-card p{
        font-size: 16px;
    }
}
